{% extends 'base.html' %}

{% block content %}

<style>

.Div1{
    background-color: #91a3b0;
    margin: 10px;
}

</style>





<div class="Div1">
<br>
    <b>Get In Touch</b><br>
    Shoppeal is a digital solution start-up firm founded in 2021 that provides students with career-relevant tech programmes
    and companies with IT services. We envision a bright future for students by delivering highly flexible, attractive, and
    effective learning solutions. Shoppeal expands its offerings to include Shoppeal E-learning, Shoppeal (VIP), and
    Shoppeal Delight.
    
    
    <div>
    <br>
    <hr>
    <br>
    
    <b>Office:</b>
    Kalyan, Maharashtra - 421306
    
    <br>
    
    <b>Mobile:</b>
    +91 7304663195
    
    <br>
    
    <b>Email:</b>
    support@shoppealtech.com
    
    <br>
    <br>
    
    </div>


</div>

<hr>

<br>
<a href="home"> <b>Home</b> </a>
<br><br>





{% endblock %}