{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <meta charset="utf-8" />
  </head>
  <body>

<!--

<form action="rhome2" method="post">
    {% csrf_token %}

    <legend><h2><b>Please Enter Your Name:</b></h2></legend>
    <label for="name">Enter Name:</label><br>
    <input type="text" placeholder="Enter Name" maxlength="20" size="30" name="name" required><br><br>

    <input type="submit" value="rhome2">
</form>

<a href="rhome2">temp</a>

-->

Hi.......Hello
<br>
bye


</body>
</html>

{% endblock %}

